#main-table td {
    padding: 25px 5px;
}
#main-table  {
    margin-left: 50px;
}
.table {
    background-color: steelblue;
    color: #fff;
    margin: auto;
    width: 60%;
    border-radius: 15px 20px 0;
}
.pyramid {
    background-color: #e3e3e3;
    color: steelblue;

}
h1 {
    padding: 25px 0;
    font-style: italic;
}
.pyramid {
    border-top: 15px solid lightblue;
    font-family: monospace;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 0;
}
